<div class="about-container">
  <div class="hero-banner">
    <div class="hero-text">
      <h1 class="bgimg">About</h1>
    </div>
  </div>
  </div>
  <div class="about-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae enim et libero condimentum interdum volutpat sed mauris. Aenean tincidunt tellus libero, quis viverra felis faucibus fringilla. Nullam ut nunc aliquet, condimentum nulla ut, eleifend nisl. Aenean condimentum purus id enim elementum aliquet. Curabitur fringilla fermentum lorem quis finibus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer et urna eget metus scelerisque laoreet nec convallis mi. Sed blandit leo efficitur massa tristique, sit amet dignissim nibh malesuada. Aliquam sem diam, laoreet in felis non, laoreet placerat tellus.

    Mauris pellentesque vitae ex vitae consequat. Donec ut urna et metus venenatis efficitur. Praesent malesuada luctus tortor, sed euismod tellus vestibulum sit amet. Vestibulum sodales ornare ante id condimentum. Nulla fermentum turpis magna, et laoreet risus imperdiet sit amet. Phasellus a dictum eros, sed rutrum diam. Vivamus viverra mauris a erat iaculis lobortis.

    Cras egestas diam ut hendrerit faucibus. Pellentesque congue ipsum vel mauris vehicula convallis. Proin neque eros, viverra ut suscipit a, vulputate vitae magna. Morbi tortor erat, molestie vel ligula et, ornare eleifend neque. Donec tincidunt ullamcorper urna, eu volutpat nunc ultrices vitae. Donec volutpat lorem tortor, ultrices ullamcorper urna molestie ac. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean neque metus, commodo ac ipsum id, tempus viverra ex. Nullam ornare, mi sed laoreet viverra, dolor odio tristique lorem, nec pulvinar libero lectus non metus. Morbi pharetra odio velit, id commodo justo lacinia sed. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed ut lorem vel purus facilisis faucibus et viverra mi. Phasellus sed nunc sit amet ipsum congue ultricies.

    Pellentesque luctus lacus nec orci faucibus bibendum. Suspendisse lorem turpis, varius nec lectus nec, tincidunt euismod nisi. Maecenas sed magna at lorem tempor interdum ac vitae sem. Etiam congue odio nec dui convallis sollicitudin. Nam tempus eros in purus faucibus, malesuada lacinia diam viverra. Nunc suscipit massa ut tristique condimentum. Praesent cursus efficitur fringilla. Ut maximus egestas quam, vitae congue augue blandit sit amet. Sed ornare metus vel ipsum tempus, vel auctor nunc ultrices. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla maximus sem in mi pellentesque, eu fermentum erat bibendum. Proin dignissim tristique enim a venenatis. Cras vitae massa leo. Curabitur nec porttitor felis.

    Vestibulum vitae ex quis nisi tempus cursus. Curabitur pellentesque quam a ornare malesuada. Quisque lectus tellus, mattis eget quam at, pretium volutpat metus. Cras interdum eleifend quam, at aliquet lacus congue vitae. Vivamus sed nulla vitae nisi cursus tempor. Etiam fringilla tempus dui at euismod. Proin varius leo non enim auctor molestie non non eros. Praesent velit neque, fermentum vel dolor vitae, fringilla lacinia nibh. Nunc dictum augue eros, ac tincidunt arcu gravida ac.</p>
</div>
