<div class="container">
  <div class="home-container">
    <section>
  <div class="slide-show-container">
    <div class="wrapper-one">
      <div class="wrapper-text"></div>
    </div>
    <div class="wrapper-two">
      <div class="wrapper-text"></div>
    </div>
    <div class="wrapper-three">
      <div class="wrapper-text"></div>
    </div>
  </div>
</section>
    <div class="name-eng">
      <h1 id="forename">KAORI</h1>
      <h1 id="surname">KINOSHITA</h1>
    </div>
    <div class="name-jap">
      <h1>木下香織</h1>
    </div>
  </div>
</div>
