body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url('home-background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.name-eng {
  font-family: 'Koulen', sans-serif;
  font-size: 48px;
  margin: 0;
  font-weight: lighter;
}

#forename {
  position: absolute;
  left: 7%;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#forename:hover {
  color: yellow;
}

#surname {
  position: absolute;
  left: 15%;
  top: 13%;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

#surname:hover {
  color: green;
}

.name-jap {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  margin: 0;
  font-weight: lighter;
  position: absolute;
  left: 25%;
  top: 15%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
  color: rgba(171, 9, 9, 0.6);
}

.name-jap h1 {
  margin: -20px;
  font-family: 'Open Sans', sans-serif;
}
