body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: url('home-background.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: scroll;
  background-attachment: fixed;
}

.home-container {
  height: 100vh;
  width: 100%;
}
.name-eng {
  font-family: 'Koulen', sans-serif;
  font-size: 48px;
  margin: 0;
  font-weight: lighter;
}

.home-container {
  opacity: 0.8;
  transition: 0.2s all ease;
}

.home-container .hidden {
  opacity: 0;
}

#forename {
  position: absolute;
  left: 7%;
  color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

#forename:hover {
  color: yellow;
}

#surname {
  position: absolute;
  left: 15%;
  top: 13%;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}

#surname:hover {
  color: green;
}

.name-jap {
  font-family: 'Koulen', sans-serif;
  font-size: 40px;
  margin: 0;
  font-weight: 100px;
  position: absolute;
  left: 20%;
  top: 10%;
  writing-mode: vertical-rl;
  text-orientation: upright;
  z-index: 1;
  color: rgba(171, 9, 9, 0.9);
}

.name-jap h1 {
  font-weight: 800;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7e7d7d;
  margin: 5px 2px;
  border-radius: 16px;
  margin-left: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(171, 9, 9, 0.4);
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(171, 9, 9, 0.7);
}

.grid-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
